*{
        --tw-text-opacity: 1;
    color: rgb(51 65 85 / var(--tw-text-opacity, 1));
    font-family: Poppins;
    font-size: 12px;
}

h1{
    font-size: 20px;
}

h2{
    font-size: 16px;
    text-decoration-line: underline;
    text-decoration-thickness: 3px;
    text-underline-offset: 5px;
}


#logo{
width: 150px;
height: auto;
}

.menu{
    display: flex;
    font-size: 20px;
    line-break: anywhere;
}

.menu li{
    display: inline;
    padding: 10px;
}
.footer li{
    display: inline;
    padding: 10px;
}

.navbar{
    display: flex;
}

.photo{
    border-radius: 20px;
    display: flex;
    max-height: auto;
    
}
.yatay{
    max-width: 1400px;
    width: 100%;
    padding: 2px;
    border-radius: 15px;
    display: flex;

}

.sagalan{
    margin-left: 30px;
}

#button_iletisim{
    
    font-size: 14px;
    font-weight: 400;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid gray;
    color: rgb(0, 0, 0);
    padding-top: .75rem;
    padding-bottom: .75rem;
}

#button_iletisim:hover{
    background-color: beige;
    color: black;

}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}